.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #8b005d;
  color: white;
  background: #8b005d;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #ac0e77;
  border-color: #ac0e77;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

button.disabled {
  opacity: 0.5; /* reduce the opacity to indicate that the button is disabled */
  cursor: not-allowed; /* change the cursor to indicate that the button cannot be clicked */
  pointer-events: none; /* disable pointer events so that the button cannot be clicked */
  background: lightcoral;
}
